<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>ഗുണമേന്മയോടുകൂടിയും മിതമായ നിരക്കിലും എല്ലാ തരം ബാഗുകളും ഒരു വർഷത്തെ വാറണ്ടിയോടുകൂടി നിർമിച്ചു നൽകുന്ന ഓമശ്ശേരിയിലെ ഏക സ്ഥാപനം!</p>
      </div>
      <div class="col-lg-12 text-center">
        <p>ലേഡീസ് ബാഗുകൾ , സ്കൂൾ ബാഗുകൾ , ഓഫീസ് & ട്രാവൽ ബാഗുകൾ , ഹജ്ജ് ബാഗുകൾ , ട്രോളികൾ</p>
        <p><small>ബാഗുകൾ റിപ്പയർ ചെയ്തു കൊടുക്കുന്നു</small></p>
      </div>
      
      <div class="col-lg-12 text-center">
        <p>Contact No : +91 9946 88 98 66 &nbsp;&nbsp;&nbsp; Whatsapp: <a href="https://api.whatsapp.com/send?phone=919946889866" target="_blank"  style="color:#fff">+91 9946 88 98 66</a></p>
      </div>
      
    </div>
  </div>
</section>
