<!-- Banner -->
<section style="background:#ffc200;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/banner-webp.webp" alt="banner-pic" /> 
            </div>
            
            <div class="col-lg-12">
                <img class="img-responsive" src="img/banner-2.webp" alt="offer-pic" /> 
            </div>
            
        </div>
    </div>
</section>

<section class="portfolio" style="padding-top: 50px;padding-bottom: 50px" >
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/banner-logo.webp" alt="banner-pic" /> 
            </div>
        </div>
    </div>
    
</section>

