<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Categories</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      
      <div class="portfolio-flex-item portfolio-item">
        <a href="#" class="portfolio-link" data-toggle="modal">
          
          <img src="/img/categories/charlie.webp" class="img-responsive" alt="Charlie Bags">
		  <p class="text-center">Charlie Bags</p>
        </a>
      </div>
		
	<div class="portfolio-flex-item portfolio-item">
        <a href="#" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/laides-hand-bags.webp" class="img-responsive" alt="Ladies Hnad Bags">
		  <p class="text-center">Ladies Bags</p>
        </a>
      </div>
		
		
	<div class="portfolio-flex-item portfolio-item">
        <a href="#" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/cat-3.webp" class="img-responsive" alt="cat-3">
		  <p class="text-center">Cat Name 3</p>
        </a>
      </div>	
      
    </div>
  </div>
</section>
