<!-- Portfolio Grid Section -->
<section id="category">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Categories</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      
    <div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/charlie" class="portfolio-link" data-toggle="modal">
          
          <img src="/img/categories/charlie.webp" class="img-responsive" alt="Charlie Bags">
		  <strong class="item-label" >Charlie Bags</strong>
        </a>
    </div>
		
	<div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/ladies-bags" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/laides-hand-bags.webp" class="img-responsive" alt="Ladies Hnad Bags">
		  <strong class="item-label">Ladies Bags</strong>
        </a>
     </div>
		
		
	<div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/toty" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/toty-bags.webp" class="img-responsive" alt="Toty Bags">
		  <strong class="item-label">Toty Bags</strong>
        </a>
    </div>
		
		
	<div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/college-backpack" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/college-backpack.webp" class="img-responsive" alt="College Backpack">
		  <strong class="item-label">College Backpack</strong>
        </a>
    </div>	
		
		
	<div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/sling-sidebags" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/sling-side-bags.webp" class="img-responsive" alt="Sling Side Bags">
		  <strong class="item-label">Sling Side Bags</strong>
        </a>
    </div>
		
		
	 <div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/ladies-wallet" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/womens-wallet.webp" class="img-responsive" alt="Womens Wallet">
		  <strong class="item-label">Ladies Wallet</strong>
        </a>
      </div>
		
		
	  <div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/boys-sidebags" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/boys-side-bags.webp" class="img-responsive" alt="Boys Side Bags">
		  <strong class="item-label">Boys College Bags</strong>
        </a>
      </div>
		
	  <div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/laptop-bags" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/laptop-bags.webp" class="img-responsive" alt="Boys Side Bags">
		  <strong class="item-label">Laptop Bags</strong>
        </a>
      </div>
		
		
	  <div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/school-bags" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/school-bags.webp" class="img-responsive" alt="Boys Side Bags">
		  <strong class="item-label">School Bags</strong>
        </a>
      </div>
		
		
	  <div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/trekking" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/trekking-bags.webp" class="img-responsive" alt="Boys Side Bags">
		  <strong class="item-label">Trekking Bags</strong>
        </a>
      </div>
		
		
	  <div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/trolley" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/trolly.webp" class="img-responsive" alt="Boys Side Bags">
		  <strong class="item-label">Trolley Bags</strong>
        </a>
      </div>
		
		
	  <div class="portfolio-flex-item portfolio-item text-center">
        <a href="/category/office-bags" class="portfolio-link" data-toggle="modal">
         
          <img src="/img/categories/office-bags.webp" class="img-responsive" alt="Boys Side Bags">
		  <strong class="item-label">Office Bags</strong>
        </a>
      </div>
		
      
    </div>
  </div>
</section>
