<!-- Header -->
<section class="portfolio" style="padding-top: 50px;padding-bottom: 50px;margin: 3px 0;border-bottom:4px solid #f20d18;border-top:4px solid #f20d18; " >
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/banner-logo.webp" alt="banner-pic" /> 
            </div>
        </div>
    </div>
    
</section>
<header style="padding: 0">
  <div class="container" style="padding-top: 20px;padding-bottom: 20px">
    <div class="row">
      <div class="col-lg-12">
         
        <div class="intro-text">
          
          <ul class="list-inline">
            {% for network in site.social %}
            <li>
              <a href="{{ network.url }}" target="_blank" class="btn-social btn-outline"><i
                  class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
            </li>
            {% endfor %}
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</header>
