
<!-- Portfolio Grid Section -->

<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ page.layout }} Bags</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
	 
		
      {% for post in site.posts %}
		
		{{ page.layout }}
		
		{{ post.category }}
		
		{% if post.category == "{{ page.layout }}" %}
		
					
				{% assign start = 1 %}
				{% assign end = post.model %}
				{% for i in (start..end) %}
		
					 <div class="portfolio-flex-item portfolio-item">
						<a href="#bagsModal-{{ i }}" class="portfolio-link" data-toggle="modal">
						  <div class="caption">
							<div class="caption-content">
							  <i class="fa fa-search-plus fa-3x"></i>
							</div>
						  </div>
						  <img src="/img/bags/{{ post.category }}/{{ post.category }}-{{ i }}.webp" class="img-responsive" alt="{{ post.alt }}">

						</a>
					 </div>
		
				   
				{% endfor %}
		
		{% endif %}
		
      {% endfor %}
    </div>
  </div>
</section>

<!-- Portfolio Modals -->

{% for post in site.posts %}

{% if post.category == {{ page.layout }} %}

{% assign start = 1 %}
{% assign end = post.model %}
{% for i in (start..end) %}

<div class="portfolio-modal modal fade bags" id="bagsModal-{{ i }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="/img/bags/{{ post.category }}/{{ post.category }}-{{ i }}.webp" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.model %}
              <li>Model:
                <strong>{{ post.category }}-{{ i }}</strong>
              </li>
              {% endif %}
              {% if post.price %}
              <li>Price:
                <strong>{{ post.price }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Category:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
              {% if post.model %}  
              <li>
                 <a href="https://api.whatsapp.com/send?phone=919946889866&text=order-{{ post.category }}-{{ i }}" style="color:green;" target="_blank" class=" btn-outline"><i
                  class="fa-brands fa-fw fa-whatsapp"></i> Order Now</a> 
              </li> 
               {% endif %}  
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endif %}

{% endfor %}


