<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>School Bags</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
		
		{% if post.category == "school" %}
		
					
				{% assign start = 1 %}
				{% assign end = post.model %}
				{% for i in (start..end) %}
		
					 <div class="portfolio-flex-item portfolio-item">
						<a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
						  <div class="caption">
							<div class="caption-content">
							  <i class="fa fa-search-plus fa-3x"></i>
							</div>
						  </div>
						  <img src="/img/bags/{{ post.category }}/{{ post.category }}-{{ i }}.webp" class="img-responsive" alt="{{ post.alt }}">

						</a>
					 </div>
		
				   
				{% endfor %}
		
		{% endif %}
		
      {% endfor %}
    </div>
  </div>
</section>

