
<!-- Portfolio Grid Section -->

<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>TODAY OFFERS</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
		
		
		 <div class="portfolio-flex-item portfolio-item">
			<a href="#offersModal-1" class="portfolio-link" data-toggle="modal">
			  
			  <img src="/img/bags/offers/offer-1.webp" class="img-responsive" alt="Offers 1">

			</a>
		 </div>
		
		
		 <div class="portfolio-flex-item portfolio-item">
			<a href="#offersModal-1" class="portfolio-link" data-toggle="modal">
			  
			  <img src="/img/bags/offers/offer-2.webp" class="img-responsive" alt="Offers 2">

			</a>
		 </div>
		
		
		 <div class="portfolio-flex-item portfolio-item">
			<a href="#offersModal-1" class="portfolio-link" data-toggle="modal">
			  
			  <img src="/img/bags/offers/offer-3.webp" class="img-responsive" alt="Offers 3">

			</a>
		 </div>
		
		
		 <div class="portfolio-flex-item portfolio-item">
			<a href="#offersModal-1" class="portfolio-link" data-toggle="modal">
			 
			  <img src="/img/bags/offers/offer-4.webp" class="img-responsive" alt="Offers 4">

			</a>
		 </div>
		
		
		 <div class="portfolio-flex-item portfolio-item">
			<a href="#offersModal-1" class="portfolio-link" data-toggle="modal">
			 
			  <img src="/img/bags/offers/offer-5.webp" class="img-responsive" alt="Offers 5">

			</a>
		 </div>
		
		
		 <div class="portfolio-flex-item portfolio-item">
			<a href="#offersModal-1" class="portfolio-link" data-toggle="modal">
			 
			  <img src="/img/bags/offers/offer-6.webp" class="img-responsive" alt="Offers 6">

			</a>
		 </div>
	
    </div>
  </div>
</section>

<!-- Portfolio Modals -->


<div class="portfolio-modal modal fade bags" id="offersModal-1" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Today Offer</h2>
            <hr class="star-primary">
            <img src="/img/bags/offers/offer-1.webp" class="img-responsive img-centered" alt="offer 1">
           
            <p>Offer Desciption</p>
            
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




